* {
    margin      : 0px;
    padding     : 0px;
    box-sizing  : border-box;
    font-family : 'Roboto', sans-serif;
    /* font-size: 20px; */
}

#root {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

h1 {
    text-align: center;
}

.App {
    width: 800px;
}

.post {
    display        : flex;
    padding        : 15px;
    border-radius  : 15px;
    box-shadow     : 0 0 10px rgba(0, 0, 0, 0.15);
    padding        : 30px;
    margin-top     : 20px;
    justify-content: space-between;
    align-items    : center;
}

.post__btns {
    display: flex;
}

.post__btns>* {
    margin-left: 5px;
}

.post-enter {
    opacity  : 0;
    transform: scale(0.9);
}

.post-enter-active {
    opacity   : 1;
    transform : translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity   : 0;
    transform : scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.page__wrapper {
    margin-top: 20px;
    display   : flex;
}

.page {
    padding   : 10px;
    border    : 1px solid teal;
    /* cursor : pointer; */
}

.page__current {
    background : lightgrey;
    font-weight: bold;
}

.navbar {
    height     : 50px;
    width      : 100vw;
    display    : flex;
    align-items: center;
    padding    : 0 15px;
    background : #e8f0fe;
}

.navbar__links {
    margin-right: auto;
}

.navbar__items {
    margin-left     : 5px;
    text-decoration : none !important;
    border-radius   : 6px;
    border          : none;
    box-shadow      : 0 0 8px rgba(0, 0, 0, 0.15);
    font-size       : 16px;
    font-weight     : 700;
    padding         : 10px 20px;
    background-color: rgb(255, 255, 255);
    color           : #333;
    cursor          : pointer;
    transition      : all 0.5s ease;
}

.navbar__items:hover {
    /* opacity: 0.7; */
    background-color: rgb(248, 243, 243)
}

.item__margin__top {
    margin-top: 20px;
}

.item__margin__bottom {
    margin-bottom: 20px;
}

.PostList {
    margin-top: 20px;
}


@media only screen and (max-width: 768px) {
    .mobileMarginApp {
        margin-right: 10px;
        margin-left : 10px;
    }

    .App {
        width: 95%;
    }

    .post {
        flex-direction: column;
    }

    .post__content {
        margin-bottom: 10px;
    }

    .item__centered {
        text-align: center;
    }
}