* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

#root {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.App {
    width: 800px;
}

.post {
    display        : flex;
    padding        : 15px;
    border         : 2px solid teal;
    margin-top     : 20px;
    justify-content: space-between;
    align-items    : center;
}
.post__btns {
    display: flex;
}

.post__btns > * {
    margin-left: 5px ;
  } 

.post-enter {
    opacity  : 0;
    transform: scale(0.9);
}

.post-enter-active {
    opacity   : 1;
    transform : translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity   : 0;
    transform : scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.page__wrapper {
    margin-top: 20px;
    display   : flex;
}

.page {
    padding: 10px;
    border : 1px solid teal;
    /* cursor : pointer; */
}

.page__current {
    background: lightgrey;
    font-weight: bold;
}

.navbar {
    height     : 50px;
    width      : 100vw;
    display    : flex;
    align-items: center;
    padding    : 0 15px;
    background : lightgray;
}

.navbar__links {
    margin-left: auto;
}
.navbar__items {
    margin-left: 5px;
    text-decoration: none !important;
    padding   : 5px 15px;
    color     : black;
    background: white;
    font-size : 14px;
    border: 1px solid teal
    
}

.item__margin__top {
    margin-top: 20px;
}